body {
  font-family: sans-serif;

}

h1, h2 {
  text-align: center;
}

u {
  text-decoration-style: dotted;
}

/*intro*/

.ip1 {
  background-color: #C4DFE6;
}

.indie {
  height: 70%
  width: 60%;
  margin-left: 30%;
}

.idiot {
  padding-right: 30%;
  padding-bottom: 5%;
}

/*history*/

.history {
  background-color: #A1D6E2;
  padding-top: 5%;
}

.education {
  margin: 5% 10% 7% 4%;
}

.employment {
  margin: 7% 5% 10%;
}

.hack {
  margin: 7% 5% 0;
  padding-bottom: 6%;
}

/*interests*/

.interests {
  background-color: #66A5AD;
  margin-bottom: 10%;
  padding: 4% 0 20%;
}

.cool {
  color: #FFFFFF;
}

.gtr {
  margin: 5% 10% 7% 4%;
}

.ymcmb {
  margin: 10% 5%;
}

#amoi {
  margin-left: 2%;
}

.friends {
  height: 60%;
  width: 60%;
}

/*hobbies*/
.hobbies {
  background-color: #07575B;
}


.left {
  float: left;
  padding-right: 3%
}

.right {
  float: right;
  padding-left: 3%

}
